<ul class="list-button-row">
  <li>
    <button
      class="list-button-row__button list-button-row__button--show-all"
      [ngClass]="{'list-button-row__button--selected': showingAll}"
      (click)="onShowAllClick()">
      <fa-icon [icon]="faTh"></fa-icon>
    </button>
  </li>
  <li>
    <button
      class="list-button-row__button list-button-row__button--show-completed"
      [ngClass]="{'list-button-row__button--selected': showingCompleted}"
      (click)="onShowCompletedClick()">
      <fa-icon [icon]="faTasks"></fa-icon>
    </button>
  </li>
  <li>
    <button
      class="list-button-row__button list-button-row__button--show-pending"
      [ngClass]="{'list-button-row__button--selected': showingPending}"
      (click)="onShowPendingClick()">
      <fa-icon [icon]="faList"></fa-icon>
    </button>
  </li>
</ul>
