.list-button-row {
  display: flex;
  margin: 10px;
  padding: 0;
  flex-direction: row;
  list-style-type: none;
}

.list-button-row .list-button-row__button {
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.list-button-row .list-button-row__button.list-button-row__button--selected {
  background-color: #9146ea;
}
