<div class="todo-component">
  <div>
    <h3 class="todo-component__header">Todo App</h3>
  </div>
  <form action="#" class="todo-component__input-form">
    <input class="todo-component__input" type="text" placeholder="Add your new todo">
    <button class="btn btn__add-btn" type="submit">+</button>
  </form>
  <div class="todo-component__validation-warning">Enter some Text!</div>
  <div class="todo-component__todo-list"></div>
  <div class="todo-component__pending-row">
    <p class="todo-component__pending-text">You have 0 pending tasks</p>
    <button class="btn btn__clear-btn">Clear All</button>
  </div>
</div>
