<div
  class="todo-component"
  [ngClass]="{
      'todo-component--input-error': showWarning,
      'todo-component--showing-all': showingAll,
      'todo-component--showing-pending': showingPending,
      'todo-component--showing-completed': showingCompleted
    }">
  <div>
    <h3 class="todo-component__header">Todo App</h3>
  </div>
  <form action="#" class="todo-component__input-form">
    <input class="todo-component__input" type="text" placeholder="Add your new todo" #newTask>
    <button class="btn btn--add" type="submit" (click)="addTask($event, newTask.value); newTask.value=''">+</button>
  </form>
  <div class="todo-component__validation-warning">Enter some Text!</div>
  <app-list-buttons
    [buttons]="buttons"
    (onButtonClick)="onButtonClick($event)"
  >
  </app-list-buttons>
  <ul class="todo-component__todo-list">
    <li *ngFor="let task of tasks | async">
      <label
        class="todo-component__todo-item"
        [ngClass]="{
          'todo-component__todo-item--pending': task.pending,
          'todo-component__todo-item--completed': !task.pending
          }">
        <input type="checkbox" (click)="toggleTask(task)" [checked]="!task.pending">
        <div class="todo-component__todo-item-text">{{task.text}}</div>
        <button class="todo-component__trash-btn" (click)="removeTask(task)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </label>
    </li>
  </ul>
  <div class="todo-component__pending-row">
    <p class="todo-component__pending-text">You have {{pendingTasksCount}} pending {{pendingTasksText}}</p>
    <button class="btn" (click)="clearAll()">Clear All</button>
  </div>
</div>
